:root {
	--color1: #011f4b;
	--color2: #b3cde0;
	--color3: #6497b1;
	--color4: green;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--color1);
	color: var(--color2);
	border-color: var(--color2);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
	color: var(--color2);
}

hr {
	border-color: var(--color3);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	background-color: var(--color1);
	color: var(--color2);
	padding: 0;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--color3);
	border-radius: 2px;
}

.centered {
	text-align: center;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}